@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-3xl font-poppins font-extrabold text-text;
  }

  .text {
    @apply font-lato font-medium text-base text-text;
  }

  .btn-primary {
    @apply bg-primary rounded-button px-6 py-2 text-text text-sm;
  }

  .btn-secondary {
    @apply bg-background border-[3px] border-primary rounded-button px-6 py-2 text-text text-sm;
  }

  .input {
    @apply text-sm font-lato font-medium text-text border-[3px] border-primary bg-background rounded-form px-4 py-2 placeholder:text-sm placeholder:text-placeholder;
  }

  .seperator {
    @apply border-[2px] border-primary rounded-[2px];
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Badge Styles */
.ict-campus {
  background: rgb(219, 198, 86);
  background: linear-gradient(
    90deg,
    rgba(219, 198, 86, 1) 0%,
    rgba(185, 156, 3, 1) 100%
  );
}

.ccyp {
  background: rgb(86, 195, 219);
  background: linear-gradient(
    90deg,
    rgba(86, 195, 219, 1) 0%,
    rgba(6, 141, 170, 1) 100%
  );
}

.alpha-tester {
  background: rgb(5, 79, 89);
  background: linear-gradient(
    90deg,
    rgb(86, 195, 219, 1) 0%,
    rgba(6, 141, 170, 1) 100%
  );
}

.coach {
  background: rgb(43, 221, 82);
  background: linear-gradient(
    90deg,
    rgba(43, 221, 82, 1) 0%,
    rgba(6, 170, 32, 1) 100%
  );
}

.danamike {
  background: rgb(221, 43, 43);
  background: linear-gradient(
    90deg,
    rgba(221, 43, 43, 1) 0%,
    rgba(168, 0, 0, 1) 100%
  );
}

.fourohfour {
  background: rgb(221, 43, 43);
  background: linear-gradient(
    90deg,
    rgba(221, 43, 43, 1) 0%,
    rgba(168, 0, 0, 1) 100%
  );
}

.extern {
  background: rgb(255, 204, 127);
  background: linear-gradient(
    90deg,
    rgba(255, 204, 127, 1) 0%,
    rgba(218, 170, 76, 1) 100%
  );
}

.one-to-ten {
  background: rgb(199, 127, 255);
  background: linear-gradient(
    90deg,
    rgba(199, 127, 255, 1) 0%,
    rgba(127, 232, 255, 1) 100%
  );
}

.ten-to-hundred {
  background: rgb(255, 169, 39);
  background: linear-gradient(
    90deg,
    rgba(255, 169, 39, 1) 0%,
    rgba(255, 30, 30, 1) 100%
  );
}

.hundred-to-twohundred {
  background: rgb(6, 211, 113);
  background: linear-gradient(
    90deg,
    rgba(6, 211, 113, 1) 0%,
    rgba(0, 164, 215, 1) 100%
  );
}

input[type="file"] {
  display: none;
}

/* Style the custom button */
.custom-file-input {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

/* Style the file name text */
.file-name {
  margin-left: 10px;
}
