@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-3xl font-poppins font-extrabold text-text;
  }

  .input {
    @apply text-xs font-lato font-semibold text-text border-[3px] border-primary bg-background rounded-form px-4 py-2 placeholder:text-xs placeholder:text-placeholder;
  }
}

body {
  margin: 0;
  padding: 0;
}

input[type="file"] {
  display: none;
}

/* Style the custom button */
.custom-file-input {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

/* Style the file name text */
.file-name {
  margin-left: 10px;
}
